.idea
# exclude the .env file which will be created from env.example
.env

# exclude the apps folder
/config/opencloud/apps/*
!/config/opencloud/apps/.gitkeep
!/config/opencloud/apps/maps

# exclude custom compose files
/custom

# exclude certificates
/certs/*
!/certs/.gitkeep

# exclude the certificates config folder
/config/traefik/dynamic/*
!/config/traefik/dynamic/.gitkeep
